<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>



<% @packages.each do |package| %>
  <div class="container">
    <div class="container-fluid mt-3">
      <div class="row">



        <div class="col-md-4 border d-flex justify-content-center">

          <div class="pack_image w-100"><%= image_tag(package.img_url) %></div>
          <h2><%= package.package_name %></h2>

          <div class="price">
            <p>Price : <%= number_to_currency(package.price) %></p>
          </div>
          <%= link_to 'Details', package_details_index_path(package_id: package) %>


        </div>
      </div>
    </div>
  </div>



<% end %>