<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
    <%= form.label :thumbnail, class: 'form-control' %>
    <%= form.file_field :thumbnail %>
    <%= form.label :banner, class: 'form-control' %>
    <%= form.file_field :banner %>
    <%= form.rich_text_area :body %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :published %>
    <%#= form.check_box :published %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :published_at %>
    <%#= form.datetime_select :published_at %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :user_id %>
    <%#= form.text_field :user_id %>
<!--  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
