<p id="notice"><%= notice %></p>

<h1>Booking</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>contact</th>
    <th>check_in_date</th>
    <th>check_out_date</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @booking.each do |booking| %>
    <tr>
      <td><%= booking.name %></td>
      <td><%= booking.address %></td>
      <td><%= booking.email %></td>
      <td><%= booking.contact_no %></td>
      <td><%= booking.check_in_date %></td>
      <td><%= booking.check_out_date %></td>
<!--      <td><%#= link_to 'Show', booking %></td>-->
<!--      <td><%#= link_to 'Edit', edit_booking_path(booking) %></td>-->
      <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order', new_booking_path %>
