<%= form_with(model: @booking) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--  <div class="container contact">-->
<!--    <div class="row">-->
<!--      <div class="col-md-3">-->
<!--        <div class="contact-info">-->
<!--          <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>-->
<!--          <h2>Contact Us</h2>-->
<!--          <h4>We would love to hear from you !</h4>-->
<!--        </div>-->
<!--      </div>-->

      <div class="col-md-3">
<div class=" center ">
  <div class=" form  ">
  <div class="field form-control">
    <div class="form-outline mb-4 background-danger">
    <%= form.label :name %>
    <%= form.text_field :name,class: "form-control" %>
  </div>
  </div>

    <div class="field">
      <div class="form-control">
  <%= form.label :address %>
  <%= form.text_field :address,class: "form-control" %>
    </div>
    </div>
    <div class=" form d-flex ">
    <div class="field">
      <div class="form-control">
  <%= form.label :contact_no%>
  <%= form.text_field :contact_no,class: "form-control" %>
    </div>
    </div>

    <div class="field">
      <div class="form-control">
  <%= form.label :email %>
  <%= form.text_field :email,class: "form-control"  %>
    </div>
    </div>
    </div>
  <div class="field">
    <div class="form-control">
    <%= form.label :price%>
    <%= form.text_field :price, :readonly => true,class: "form-control"  %>
  </div>
  </div>
    <div class="field ">
      <div class="form-control">
      <%= form.label :check_in_date %>
  <%= form.date_field :check_in_date, :readonly => true ,class: "form-control" %>
      </div></div>
    <div class="field">
      <div class="form-control">
  <%#= @booking.check_in_date %>
  <%= form.label :check_out_date %>
      <%= form.date_field :check_out_date ,:readonly => true,class: "form-control"  %>
      </div><br />
      <div class="actionsss">
        <%= form.submit "Booking complete", class:"btn btn-secondary"  %>
      </div>
  <%#= @booking.check_out_date %>
    </div></div></div></div>
<!--  <div class="actionsss">-->
    <%#= form.submit "Booking complete", class:"btn btn-secondary"  %>
<!--  </div>-->


<% end %>
<%=console %>