<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>


<!--<div class="container">-->
  <%#if !@place.video_url.nil?%>
<!--    <h1><%#= @place.video_url%></h1>-->
<!--      <iframe width="420" height="315"-->
<!--              src=<%#= @place.video_url%> frameborder="0" allowfullscreen>-->
<!--      </iframe>-->

<!--    <iframe width="420" height="315"-->
<!--            src="https://www.youtube.com/embed/tgbNymZ7vqY">-->
<!--    </iframe>-->
<!--    <%#end %>>-->
  <div class="row">
    <% @packages.each do |package| %>

          <div class="col-md-4  d-flex flex-column  align-items-center">
            <div class="pack_image border border-primary w-100 h-100">

              <%= image_tag(package.img_url, :class => "w-100 h-100") %>
            </div>
            <h2><%= package.package_no %></h2>
            <h2><%= package.package_name %></h2>
            <div class="price">
              <p>Price : <%= number_to_currency(package.price) %></p>
            </div>
            <div class=" btn btn-dark fw-bold">
            <%= link_to 'Details',  user_packages_details_path(package_id: package) %>
            </div>

          </div>




    <% end %>
  </div>

</div>