<!DOCTYPE html>
<html>
  <head>
    <title>YoungBird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<p>hello</p>
   
  <main class='<%= controller.controller_name %>'>
  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete, :data => { :no_turbolink => true } %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>  </a>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</main>
  </body>
</html>
