<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<%= form_with(url: filters_room_path, method: :get, local: true) do |form| %>
  <%= form.label :check_ins_date, "check_in_date :" %>
  <%= form.date_field :check_ins_date %>
  <%= form.label :check_outs_date, "check_out_date:" %>
  <%= form.date_field :check_outs_date %>
  <%= form.submit "Search" %>
<% end %>
<div class="container mt-3">

<div class =" imagee">

    <div class="col-md-4  d-flex flex-row  bd-higlight mb-3 ">
      <div class="pl_image  ">
        <div class="p-2 bd-highlight"> <h3>Place </h3>
          <img class=" img-resposive img-resize ">
          <%= image_tag(@package.place.img_url) %>
        <%#= image_tag(@package.place.image_url) %>
        <h2><%= @package.place.place_name %></h2>
      </div>
    </div>
      <div class="ht_image ">
        <div class="p-2 bd-highlight"> <h3>Place </h3>

        <%= image_tag(@package.hotel.img_url) %>
        <%#= image_tag(@package.place.image_url) %>
        <h2><%= @package.hotel.hotel_name %></h2>
        </div>
      </div>
      <div class="rm_image img-fluid ">
        <div class="p-2 bd-highlight"> <h3> Room </h3>


        <%#= image_tag(@package.room.img_url) %>
        <%#= image_tag(@package.place.image_url) %>

        <h2>Room_type:<%= @package.room.room_type %></h2>
          <h2>No_Of_Bed: <%= @package.room.no_of_bed %></h2>
        </div></div>


      </div>
    </div>

</div>

<%= link_to 'Details', user_packages_filter_path(room_type: @room, no_of_bed: @room,hotel_id: @hotel,place_id: @place ,package_id: @package) %>


  <%#= link_to 'Book', new_order_path(package_id: @package) %>
</div>


</div>


